@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/*--- SET EVERYTHING UP ---*/
*{
    margin:0px;
    padding:0px;
    border:0px;
    box-sizing: border-box;
    text-decoration:none;
}

body {
    background-color:#f7f9f9;
    color:#212121;
    font-family: "Ubuntu",sans-serif;
}

h1{
    font-size:200%;
    font-weight:700;
    text-align: center;
    padding:2% 0;
   
    color:#212121;
}

[class*="white-text"]{
    color:#ffffff;
}

/*--------------------------*/
/*--- HEADER - logo + nav menu ---*/

#menu {
    background: url('Files/Icons/menu.png') center no-repeat;
    width: 50px;
    height: 32px;
    float:right;
    padding: 2% 8% 2% 0;
    display:none;
}
#logo{
    display:block;
    position:absolute;
    z-index:1;
    top:10px;
    left:30px;
    width: 80px;
    height: 80px;
    background: url(Files/Icons/demoLogo.png) center no-repeat;
}

/*--- MENU ---*/
nav{
    float: right;
    padding:0 10px 0 0;
}

nav ul li{
    display:inline-block;
    float:left;
    padding: 5px;
 
}

nav ul li a{
    color:#212121;
    text-decoration:none;

}

nav ul li a:hover{
    color:#BCD7DC;
}
div.clear{
     clear: both;
}
/*--------------------------*/
/*Banner image--- */
img {
    max-width: 100%;
    height: auto;
    width: auto;
    
}

.banner-img{
    max-height:650px;
    height: auto;
    width: auto; 
    display:block;
    opacity:0.8;
    margin:auto;
}

/*--------------------------*/

.wrapper-1{
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 3em;
  -moz-column-gap: 3em;
  column-gap: 3em;
  background-color:#E9E9E9;
}

.container {
  position: relative;
  width: 100%;
}

.box{
    width:150px;
    height:180px;
    position: relative;
    margin:auto;
    border: .2px solid #b4b4b4;
}



.overlay{
  position: absolute;
 top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
 /* height: 100%;
  width: 100%;
 */
  width: 150px;
  height: 180px;
  
  opacity: 0;
  transition: .5s ease;
  background-color: #2e2e2e
      
      /* teal#1CF1F1;*/
}


.box:hover .overlay{
    opacity: 1;
}

.text{
    padding: 0 0 0 1%;
    text-decoration:none;
 }

.text ul{
    padding: 10% 0 0 20%;
}

.text .bottom{
    padding-top: 30%;
    padding-left: 12%;
    
    
}


.center {
    padding: 75% 0 0 18%;
}
   
#web {
    background: url('Files/Icons/internet.png') center no-repeat;
    background-color:#ffffff;
}

#gear {
    background: url('Files/Icons/settings.png') center no-repeat;
    background-color:#ffffff;
}

   
#thumbtak {
    background: url('Files/Icons/push-pin.png') center no-repeat;
    background-color:#ffffff;
}
/*--------Wrapper 2----------*/

.wrapper-2 {
    
    height: 600px;
    background: url('Files/Icons/grid-tool.png');
    background-attachment: fixed;
    padding:50px;
}



.about-box{
    height:400px;
    width:400px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:block;
    border:1px solid #4F4F56;
    margin:auto;
 
    padding: 3% 1% 0 2%;
}
.about-box h3{
    padding:3%;
    text-transform:uppercase;
}

.about-box p:first-letter{
    font-size: 34px;
    float: left;
}

.about-box p:first-liner{
    font-weight: bold;
}


.parallax {
    /* The image used */
    background-image: url('Files/Images/parallaxPhoto.jpg');
    /* Set a specific height */
    min-height: 300px;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 10% 0 10% 0;
}



.wrapper-3{
    height:200px;
    background-color:#E9E9E9;
}



/*--------Footer----------*/

.footer{
    background-color:#000000;
    color:#ffffff;
    
    
}




.wrapper-4::after {
    content: "";
    clear: both;
    display: table;
}

[class^="footer-"] {
    float: left;
    padding: 5% 5% 5% 8%;
   
}

.footer-contact{   
    width: 40%;

}


.footer-form{
    width: 60%;
    
}

.footer-half{
    width: 50%;
    padding:0;
}
fieldset{
     border: 1px groove white;
}
 input[type="text"]{
     width: 100%;
     margin-bottom:1%;
 }

 textarea{
     width: 100%;
 }
 input[type="submit"]{
     width: 90px;
     
     float:right;
 }

  input[type="submit"]:hover{

     background-color:#BCD7DC;

 }

/*--------Media----------*/
@media only screen and (max-width: 760px) {
   h1{
       font-size:150%;
   }
    
     #logo {
        display:none;
    }

     #menu{
         display:block;
     }

    nav ul {
      display:none;
      z-index:100;
      position:absolute;
      right:20px;
      top:31px;
      background-color:#f7f9f9;
    
    }
     #menu:hover + #nav-menu ul{
         display:block;
     }

     nav:hover ul{
     display:block;
     }
     nav li{
         text-align:center;
         width:100%;
         padding: 10px 0 10px 0;
     }
    .wrapper-1{
     -webkit-column-count: 1;
     -moz-column-count: 1;
     column-count: 1;
    }
    .container{
     margin-bottom: 10px;
    }

    .parallax {
        min-height: 150px;
        background-attachment: initial;

    }
 [class^="footer-"] {
    width: 100%;
   
}
}