* {
    box-sizing: border-box;
}

.container{
  overflow:auto;
}

.project-box{
    height:auto;
    width:auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:block;
    border:1px solid #4F4F56;
    margin:auto;
    padding: 1% 1% 1% 2%;
    margin-bottom:5%;
}
.project-box h3{
    padding-bottom:1%;
    text-transform:uppercase;
    border-bottom:1px solid black;
}


.wrapper-2 {
    height: auto;

}

.notes{
    display:block;
    width: 65%;
    float: left;
}

.notes p{
    padding:1%;
}

p:first-child{
    font-weight:bold;
}

.notes ul{
    padding-left:5%;
    padding-bottom: 3%;
}

.photo{
    width: 35%;
    float: left;
    display:block;
    border: 1px solid #4f4f4f;
    box-shadow: 1px 1px 5px #4F4F56;
}

.photo img{
    width:49%;
    height:auto;
    float: left;
    display:inline;
    padding:.2rem;
    margin:auto;
    
}

.photo img:hover{
    border: 1px solid #a9a9a9;
    box-shadow: 1px 1px 5px #4F4F56;
}

.photo::after {
    content: "";
    clear: both;
    
}




